.grad1 {
  height: 55px;
  z-index: 1;
  background-color: rgb(0, 8, 255);
  /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, aquamarine, rgba(180, 60, 207, 20));
}
.container {
  height: 90vh;
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.cell {
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 4rem;
  height: 200px;
  width: 360px;
}
.cell-1 {
  background: deepskyblue;
}
.cell-2 {
  background: navajowhite;
}
.cell-3 {
  background: navajowhite;
}
.cell-4 {
  background: gold;
}
.cell-5 {
  background: antiquewhite;
}
.cell-6 {
  background: limegreen;
}
.cell-7 {
  background: coral;
}
.cell-8 {
  background: aquamarine;
}
.cell-9 {
  background: maroon;
}
nav {
  background-color: rgb(56, 28, 89);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  font-size: xx-large;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: aquamarine;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: rgb(56, 28, 89);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: rgb(56, 28, 89);
  color: aquamarine;
}