.title{
    height: auto;
    text-align: center;
    font-size: xx-large;
    color: rgb(56, 28, 89);
    border: 1px solid rgb(56, 28, 89);
    background-color: aquamarine;
    position: fixed;
    left: 0;
    width: 100%;
    top: 0px;
}
nav {
    background-color: #333; 
    position: fixed; 
    top: 0; 
    left: 0;
    z-index: 1; 
  }

.button{
    font-size: x-large;
    text-align: center;
    color: aquamarine;
    background-color:rgb(56, 28, 89);
    border: 5px solid aquamarine;
    position: relative;
    left: 20%;
    top: 8%;
    width: 20%;
    padding: 1.5%;
    border-radius: 5%;
    justify-content: center;
}

.button:hover{
    font-size: x-large;
    text-align: center;
    color:rgb(56, 28, 89);
    background-color: aquamarine;
    border: 5px solid rgb(56, 28, 89);
    position: relative;
    left: 20%;
    top: 6.5%;
    width: 20%;
    padding: 1.5%;
    border-radius: 5%;
    justify-content: center;
}